.primary-button {
    color: var(--secondary-text-color);
    background-color: var(--bg-color);
    font-family: var(--accent-font);
    font-size: 16.061px;
    outline: solid 2.6px var(--accent-color);
    padding-block: 13px;
    padding-inline: 26px;
    position: relative;
    border: 6px solid;
    border-color: #BCBCBC #727272 #727272 #BCBCBC;
    text-align: center;
    transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: inline-flex;
}

