.cup__text{
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-variation-settings: var(--main-weight);
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    display:flex;
    gap: 10px;
    align-items: flex-end;
}

.cup__text>img{
    max-inline-size: 38px;
}


.cup__text_mbe{
    margin-block-end: 50px;
}