@import './team.css';
@import './__wrapper/team__wrapper.css';
@import './__wrapper/_text/team__wrapper_text.css';
@import './__text/team__text.css';
@import './__text/_bold/team__text_bold.css';
@import './__list/team__list.css';
@import './__card/team__card.css';
@import './__card-title/team__card-title.css';
@import './__card-wrapper/team__card-wrapper.css';
@import './__card-img/team__card-img.css';
@import './__card-img/_actvive/team__card-img_active.css';
@import './__card-logo/team__card-logo.css';
@import './__card-link/team__card-link.css';
@import './__card-text/team__card-text.css';

/* PERSON */
@import './__person-card/team__person-card.css';
@import './__person-img/team__person-img.css';
@import './__person-name/team__person-name.css';
@import './__person-nick/team__person-nick.css';
@import './__person-wrapper/team__person-wrapper.css';
@import './__person-list/team__person-list.css';

.team{
    margin-block-end: 71px;
}

.header{
    margin-block-end: 55px;
}

.section-title{
    gap: 20px
}