
@import '../blocks/cup/cup.css';



.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font);
    font-variation-settings: var(--main-weight);
    background-color: var(--main-color);
    background-image: url('../svg/decoration-elements/angle.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    line-height: normal;
  
  }
