/* Шрифты, переменные, глобальные стили*/
@import '../vendor/normalize.css';
@import '../styles/globals.css';
@import '../styles/variables.css';
@import '../vendor/fonts/fonts.css';

/*Стили для анимация, контейнер, заговок для секций, бегущая строка, декоративные элементы, коллажа. */
@import '../blocks/decoration-elemetns/decoration-elements.css';
@import '../blocks/container/container.css';
@import '../animation/animation.css';
@import '../blocks/section-title/section-title.css';
@import '../blocks/section-title/_empty/section-title_empty.css';
@import '../blocks/primary-button/primary-button.css';


/* Стили для мобильного меню */
@import '../blocks/burger/burger.css';

/* Стили для шапки Header (Шапка) */
@import '../blocks/header/header.css';

/* Стили для секции Contact (Секция контакты) */
@import '../blocks/contact/contact.css';


@import '../blocks/team/team.css';

/* Стили для Footer (Подвал) */
@import '../blocks/footer/footer.css';


.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font);
    font-variation-settings: var(--main-weight);
    background-color: var(--main-color);
    background-image: url('../svg/decoration-elements/angle.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    line-height: normal;
  
  }



.shell{
  overflow-x: hidden;
  position: relative;
}



.section-title > span {
    margin-block-end: 0;
}