.infrastructure__elements{
    background-color: var(--bg-color);
    block-size: 35px;
    inline-size: 35px;
    object-fit: contain;
    position: relative;
    padding: 9px;
    padding-block-end: 6px;
    padding-inline: 8px 6px;
    display: flex;
    align-items: flex-end;
    zoom: .6;
}

.infrastructure__elements:nth-child(1)::before{
    content: '';
    inline-size: 100%;
    block-size: 4px;
    background-color: #5a5a5a;
    display: block;
}
.infrastructure__elements:nth-child(2){
padding: 1px 1px 4px 10px;
}

.infrastructure__elements:nth-child(2)::before{
    content: url('../../../svg/decoration-elements/cross-element.svg');
}

@media (width >= 375px){
    .infrastructure__elements{
        zoom: 1;
    }
}