.collage__img {
    height: auto;
    object-fit:cover ;
    inline-size: 100%;
    filter: grayscale();
    transition: transform 0.5s ease, z-index 0.5s ease; 
    opacity: 0; 
    animation: fadeIn 2s ease forwards; 
}

.collage__img:nth-child(7) {
    left: 94%;
    scale: 1;
    top: 345px;
    transform: translateX(-50%);
    z-index: 6;
    animation-delay: 1.2s; 
    position: absolute;
    max-inline-size: 96px;

}